{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Change Password
{% endblock %}

{% block content %}
    <h1 class="mt-5">Password change</h1>
    <p>Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success" type="submit">Change My Password</button>
    </form>
{% endblock %}